fly.toml
.git/
__pycache__/
.envrc
.venv/

*/__pycache__/*
*/.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
.DS_Store
.vscode/

data_pdfs/
ingestion/
/ingestion/*

.git
.gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/
.coverage*
htmlcov/
docs/
tests/
.vscode/
.idea/
.DS_Store
.venv/